<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-Index Simplificado</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-50 flex p-4 justify-center min-h-screen">
    <div class="flex justify-center -space-x-3 font-thin  text-base">
        <div class="w-16 h-16 rounded-full flex items-center justify-center bg-pink-500 shadow-lg ring-2 ring-slate-900 z-40 text-white">05</div>
        <div class="w-16 h-16 rounded-full flex items-center justify-center bg-pink-500 shadow-lg ring-2 ring-slate-900 z-30 text-white">04</div>
        <div class="w-16 h-16 rounded-full flex items-center justify-center bg-pink-500 shadow-lg ring-2 ring-slate-900 z-20 text-white">03</div>
        <div class="w-16 h-16 rounded-full flex items-center justify-center bg-pink-500 shadow-lg ring-2 ring-slate-900 z-10 text-white">02</div>
        <div class="w-16 h-16 rounded-full flex items-center justify-center bg-pink-500 shadow-lg ring-2 ring-slate-900 z-0 text-white">01</div>
    </div>
</body>

</html>
