<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts con Columns</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-4">
        <div>
            <div class="container w-96 h-20 rounded-lg shadow-xl overflow-hidden flex bg-white">
                <div class="w-20 h-full">
                    <img src="profile1.jpg" class="w-full h-full object-cover">
                </div>
                <div class="h-full ml-3 mt-1">
                    <h2 class="text-lg font-semibold font-sans">Juanito Gominola</h2>
                    <p class="text-sm text-gray-500">Desarrollador Full Stack MERN</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>