<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floats</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200">
    <div class="container mx-auto p-4 space-y-8 overflow-y-auto">
        <!-- Ejemplo de Float Start (Izquierda) -->
        <h2 class="text-xl font-thin">Float Left</h2>
        <div class="shadow-xl bg-white p-4 rounded-lg">

            <div class="h-auto">
                <div class="p-4 h-40 rounded">
                    <img src="montania.jpg" alt="Montaña" class="rounded float-left mr-4 mb-4 w-32 h-32 object-cover">
                </div>
                <div class="pl-4 pr-4 pb-4">
                    <p class="text-xl font-thin text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos necessitatibus neque aut nihil nulla perspiciatis laborum! Reprehenderit vero, repellendus nam incidunt repellat nisi odio labore, quis inventore consectetur, similique corrupti.</p>
                </div>
            </div>
        </div>

        <!-- Ejemplo de Float End (Derecha) -->
        <h2 class="text-xl font-thin">Float Right</h2>
        <div class="shadow-xl bg-white p-4 rounded-lg">
            <div class="h-auto">
                <div class="p-4 h-40 rounded">
                    <img src="montania.jpg" alt="Montaña" class="rounded float-right ml-4 mb-4 w-32 h-32 object-cover">
                </div>
                <div class="pl-4 pr-4 pb-4">
                    <p class="text-xl font-thin text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos necessitatibus neque aut nihil nulla perspiciatis laborum! Reprehenderit vero, repellendus nam incidunt repellat nisi odio labore, quis inventore consectetur, similique corrupti.</p>
                </div>
            </div>
        </div>

        <!-- Ejemplo de Float None (Sin flotación) -->
        <h2 class="text-xl font-thin">Float None</h2>
        <div class="shadow-xl bg-white p-4 rounded-lg">
            <div class="h-auto">
                <div class="p-4 h-40 rounded">
                    <img src="montania.jpg" alt="Montaña" class="rounded w-32 h-32 object-cover mb-4">
                </div>
                <div class="pl-4 pr-4 pb-4">
                    <p class="text-xl font-thin text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos necessitatibus neque aut nihil nulla perspiciatis laborum! Reprehenderit vero, repellendus nam incidunt repellat nisi odio labore, quis inventore consectetur, similique corrupti.</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
